.about-top
    width: 300px
    margin-left: auto
    margin-right: auto

.show-more
    left: 50%
    top: 82%
    transform: translate(-50%,-18%)
    button
        background: rgba(0,0,0,0.5)
        border: 1px solid gray
@media (max-width: 768px)
    .show-more
        top: 70%
        left: 50%
        transform: translate(-50%,-30%)