#contact
    input
        color: #030303
        border-left: 0

.form-group
    button
        color: white
        background-color: #4BADD2

.form-control:focus
    color: #495057
    background-color: #fff
    outline: 0
    box-shadow: none


.input-group-text
    background-color: transparent
    border-right: 0

