body
    padding: 0
    margin: 0
    font-family: Prestige Elite Std
@font-face
    font-family: Prestige Elite Std
    src: url("../font/PrestigeEliteStd-Bd.otf")
    src: url("../font/prestige.ttf")

.f-30
    font-size: 30pt
a
    text-decoration: none
a:hover
    text-decoration: none

li
    list-style-type: none


