.footer-img
    height: 350px
.footer-content
    top: 0
.footer-3 ul
    padding: 0
    line-height: 16px
    margin-left: -14px
.footer-item
    padding: .25rem 1rem
    color: #000
.footer-dropdown
    left: 30%
    text-align: left
.footer-3 ul li a
    transition: all .3s linear

.footer-3 ul li a:hover
    padding: 3px 0
    margin-left: 25px
    font-weight: 700
    color: #000


.footer-bottom
    background: #000000
    background: -webkit-linear-gradient(to right, #000000, #434343)
    background: linear-gradient(to right, #000000, #434343)

.sliding-icon-box2 h3
    margin-bottom: 50px
    text-align: center

.sliding-icon-list2
    position: relative

.sliding-icon-list2 ul
    padding: 0
    margin-top: -15px
    display: flex
    position: absolute


.sliding-icon-list2 ul li
    list-style-type: none
    margin: 0 4px 2px 0
    display: inline-block


.sliding-icon-list2 ul li a
    height: 50px
    width: 50px
    text-align: center
    line-height: 50px
    font-size: 24px
    display: inline-block
    vertical-align: middle
    transition: .5s
    background: lightgray
    text-decoration: none
    overflow: hidden
    border: 1px solid gray


.sliding-icon-list2 ul li a i
    display: block
    width: 100%
    color: #777
    margin-top: 12px
    transition: .5s


.sliding-icon-list2 ul li:hover a i:nth-child(1)
    transform: translateY(-37px)


.sliding-icon-list2 ul li:hover a i:nth-child(2)
    transform: translateY(-37px)
    color: #fff


.sliding-icon-list2 ul li:hover:nth-child(1) a
    background-color: #3b5999


.sliding-icon-list2 ul li:hover:nth-child(2) a
    background-color: #55acee


.sliding-icon-list2 ul li:hover:nth-child(3) a
    background-color: #cd201f


.sliding-icon-list2 ul li:hover:nth-child(4) a
    background-color: #0077B5



@media (max-width: 574px)
    .footer-img
        height: 750px
    .footer-3
        text-align: center
    .footer-1
        text-align: center
    .footer-2
        text-align: center
        margin-top: 100px
    .sliding-icon-list2 ul
        left: 50%
        transform: translateX(-50%)
