.navbar-nav
    transition: all .3s linear

.nav-link
    font-weight: bold

.dropdown-menu
    top: 85%
.dropdown:hover > .dropdown-menu
    display: block

.sticky-nav
    background: #000

.our-client
    cursor: pointer
.our-work
    cursor: pointer
.menu-bg
    background: rgba(0, 0, 0, 0.9)
    transition: 3s
.dropdown-toggle::after
    vertical-align: middle
.nav-item-margin
    .navbar-nav
        margin-top: 9px !important
