@mixin transition($what: all, $time: 0.2s, $how: linear)
    -webkit-transition: $what $time $how
    -moz-transition:    $what $time $how
    -o-transition:      $what $time $how
    transition:         $what $time $how
