.scrollup
    width: 40px
    height: 40px
    font-size: 27px
    color: #fff
    background: gray
    bottom: 64px
    right: 10px


.scrollup:hover
    cursor: pointer
@keyframes  bounce
    0%
        transform: translateY(0)
    10%
        transform: translateY(-30px)
    15%
        transform: translateY(0)
    25%
        transform: translateY(-20px)
    30%
        transform: translateY(0)
    40%
        transform: translateY(-10px)
    45%
        transform: translateY(0)
    100%
        transform: translateY(0)







