
.img-wraper
    width: 100%
    height: 100vh
    position: relative
    img
        width: 100%
        height: 100%
.image-content
    position: absolute
    left: 50%
    top: 55%
    z-index: 1
    transform: translate(-50%, -45%)
    text-align: center
    .content-1
        width: 200px
        margin-left: auto
        margin-right: auto
    .content-2
        width: 300px
.image-content-bottom
    position: absolute
    left: 50%
    top: 80%
    transform: translate(-50%, -20%)
    text-align: center
    width: 250px
    z-index: 1

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dots
    color: darkgray
    font-size: 50px
.owl-theme .owl-nav [class*=owl-]:hover
    background: none
.owl-prev
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
.owl-next
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
.owl-dots
    position: absolute
    color: #ffc107!important
    bottom: 0
    left: 50%
    transform: translateX(-50%)

.work-img
    width: auto
    height: 220px
    img
        height: 100%
        width: 100%

