body {
  padding: 0;
  margin: 0;
  font-family: Prestige Elite Std; }

@font-face {
  font-family: Prestige Elite Std;
  src: url("../font/PrestigeEliteStd-Bd.otf");
  src: url("../font/prestige.ttf"); }
.f-30 {
  font-size: 30pt; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

li {
  list-style-type: none; }

.navbar-nav {
  transition: all 0.3s linear; }

.nav-link {
  font-weight: bold; }

.dropdown-menu {
  top: 85%; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.sticky-nav {
  background: #000; }

.our-client {
  cursor: pointer; }

.our-work {
  cursor: pointer; }

.menu-bg {
  background: rgba(0, 0, 0, 0.9);
  transition: 3s; }

.dropdown-toggle::after {
  vertical-align: middle; }

.nav-item-margin .navbar-nav {
  margin-top: 9px !important; }

.img-wraper {
  width: 100%;
  height: 100vh;
  position: relative; }
  .img-wraper img {
    width: 100%;
    height: 100%; }

.image-content {
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 1;
  transform: translate(-50%, -45%);
  text-align: center; }
  .image-content .content-1 {
    width: 200px;
    margin-left: auto;
    margin-right: auto; }
  .image-content .content-2 {
    width: 300px; }

.image-content-bottom {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -20%);
  text-align: center;
  width: 250px;
  z-index: 1; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dots {
  color: darkgray;
  font-size: 50px; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none; }

.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

.owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); }

.owl-dots {
  position: absolute;
  color: #ffc107 !important;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.work-img {
  width: auto;
  height: 220px; }
  .work-img img {
    height: 100%;
    width: 100%; }

.about-top {
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

.show-more {
  left: 50%;
  top: 82%;
  transform: translate(-50%, -18%); }
  .show-more button {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid gray; }

@media (max-width: 768px) {
  .show-more {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%); } }
.footer-img {
  height: 350px; }

.footer-content {
  top: 0; }

.footer-3 ul {
  padding: 0;
  line-height: 16px;
  margin-left: -14px; }

.footer-item {
  padding: 0.25rem 1rem;
  color: #000; }

.footer-dropdown {
  left: 30%;
  text-align: left; }

.footer-3 ul li a {
  transition: all 0.3s linear; }

.footer-3 ul li a:hover {
  padding: 3px 0;
  margin-left: 25px;
  font-weight: 700;
  color: #000; }

.footer-bottom {
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #000000, #434343); }

.sliding-icon-box2 h3 {
  margin-bottom: 50px;
  text-align: center; }

.sliding-icon-list2 {
  position: relative; }

.sliding-icon-list2 ul {
  padding: 0;
  margin-top: -15px;
  display: flex;
  position: absolute; }

.sliding-icon-list2 ul li {
  list-style-type: none;
  margin: 0 4px 2px 0;
  display: inline-block; }

.sliding-icon-list2 ul li a {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.5s;
  background: lightgray;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid gray; }

.sliding-icon-list2 ul li a i {
  display: block;
  width: 100%;
  color: #777;
  margin-top: 12px;
  transition: 0.5s; }

.sliding-icon-list2 ul li:hover a i:nth-child(1) {
  transform: translateY(-37px); }

.sliding-icon-list2 ul li:hover a i:nth-child(2) {
  transform: translateY(-37px);
  color: #fff; }

.sliding-icon-list2 ul li:hover:nth-child(1) a {
  background-color: #3b5999; }

.sliding-icon-list2 ul li:hover:nth-child(2) a {
  background-color: #55acee; }

.sliding-icon-list2 ul li:hover:nth-child(3) a {
  background-color: #cd201f; }

.sliding-icon-list2 ul li:hover:nth-child(4) a {
  background-color: #0077B5; }

@media (max-width: 574px) {
  .footer-img {
    height: 750px; }

  .footer-3 {
    text-align: center; }

  .footer-1 {
    text-align: center; }

  .footer-2 {
    text-align: center;
    margin-top: 100px; }

  .sliding-icon-list2 ul {
    left: 50%;
    transform: translateX(-50%); } }
.client-img {
  width: auto;
  height: 120px;
  padding: 0 20px; }
  .client-img img {
    width: 100%;
    height: 100%; }

.scrollup {
  width: 40px;
  height: 40px;
  font-size: 27px;
  color: #fff;
  background: gray;
  bottom: 64px;
  right: 10px; }

.scrollup:hover {
  cursor: pointer; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(-30px); }
  15% {
    transform: translateY(0); }
  25% {
    transform: translateY(-20px); }
  30% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  45% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }
.banner-img {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative; }
  .banner-img img {
    height: 100%;
    width: 100%; }

#contact input {
  color: #030303;
  border-left: 0; }

.form-group button {
  color: white;
  background-color: #4BADD2; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: none; }

.input-group-text {
  background-color: transparent;
  border-right: 0; }

/*# sourceMappingURL=home.css.map */
